@import "tailwindcss";

/* 로컬 폰트 선언 */
@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "GabiaGosran";
  src: url("/fonts/GabiaGosran.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoundedFixedsys";
  src: url("/fonts/DungGeunMo.woff2") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freckle Face";
  src: url("/fonts/FreckleFace-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Tailwind v4 테마 설정 */
@theme {
  --font-gabia: "GabiaGosran", sans-serif;
  --font-roundfix: "RoundedFixedsys", sans-serif;
  --font-sans: "SUIT", system-ui, sans-serif;
  --font-freckle: "Freckle Face", system-ui, sans-serif;
  /* tailwindcss 유틸리티로 노출됨. (bg-*, text-*, border-*) */
  --color-primary: #fef1e8; /* peach surface */
  --color-secondary: #f6e6da; /* beige surface */
  --color-brand: #523e1b; /* brand brown */
}

/* 전역 스타일은 별도 레이어로 */
@layer base {
  :root {
    line-height: 1.5;
    color-scheme: light dark;

    --color-text: #3a290d;
    --color-bg: #ffffff;
    --primary-color: #fef1e8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: var(--font-sans);
    color: var(--color-text);
    background-color: var(--color-bg);
  }
}
